In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plp
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import ttest_rel, ttest_ind
from scipy.stats.contingency import association
from scipy.stats import spearmanr, pearsonr
pd.set_option('display.max_columns', None)
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
scaler = MinMaxScaler()

In [2]:
df=pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Unclean_data/Unclean_data/aire_madrid.csv')

In [3]:
df=df.dropna()

In [4]:
# We separate the first and second columns based only on when ZBEDEP and ZBE where created.

In [5]:
df.head()

,Unnamed: 0,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,h02,v02,h03,v03,h04,v04,h05,v05,h06,v06,h07,v07,h08,v08,h09,v09,h10,v10,h11,v11,h12,v12,h13,v13,h14,v14,h15,v15,h16,v16,h17,v17,h18,v18,h19,v19,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,10,28,13,2,7,28013002_7_8,2005,1,1,"22,0",V,"23,0",V,"10,0",V,"8,0",V,"13,0",V,"6,0",V,"10,0",V,"10,0",V,"10,0",V,"11,0",V,"10,0",V,"9,0",V,"10,0",V,"25,0",V,"8,0",V,"15,0",V,"31,0",V,"60,0",V,"67,0",V,"68,0",V,"47,0",V,"20,0",V,"8,0",V,"8,0",V
1,11,28,13,2,8,28013002_8_8,2005,1,1,"23,0",V,"21,0",V,"18,0",V,"17,0",V,"15,0",V,"14,0",V,"13,0",V,"11,0",V,"8,0",V,"7,0",V,"8,0",V,"9,0",V,"15,0",V,"32,0",V,"20,0",V,"38,0",V,"55,0",V,"60,0",V,"55,0",V,"50,0",V,"37,0",V,"28,0",V,"21,0",V,"19,0",V
2,12,28,13,2,10,28013002_10_49,2005,1,1,"51,0",V,"34,0",V,"31,0",V,"28,0",V,"28,0",V,"33,0",V,"23,0",V,"17,0",V,"16,0",V,"9,0",V,"15,0",V,"18,0",V,"11,0",V,"15,0",V,"20,0",V,"7,0",V,"22,0",V,"35,0",V,"54,0",V,"48,0",V,"49,0",V,"35,0",V,"33,0",V,"28,0",V
3,13,28,13,2,14,28013002_14_6,2005,1,1,"13,0",V,"13,0",V,"13,0",V,"13,0",V,"13,0",V,"12,0",V,"12,0",V,"12,0",V,"17,0",V,"21,0",V,"29,0",V,"34,0",V,"43,0",V,"38,0",V,"54,0",V,"35,0",V,"22,0",V,"16,0",V,"16,0",V,"14,0",V,"13,0",V,"15,0",V,"14,0",V,"13,0",V
4,53,28,45,2,6,28045002_6_48,2005,1,1,"3,2",V,"1,3",V,"0,7",V,"0,4",V,"0,8",V,"0,5",V,"0,3",V,"0,6",V,"0,5",V,"0,2",V,"0,1",V,"0,1",V,"0,1",V,"0,2",V,"0,2",V,"0,3",V,"0,5",V,"0,8",V,"1,6",V,"2,3",V,"3,2",V,"2,3",V,"0,9",V,"0,6",V

In [6]:
columns_to_check = ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24']
columns_to_modify2 = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# df_antes = df_antes[~df_antes[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
# df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

In [7]:
"""
for col in columns_to_modify2:
    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)
      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)
"""

"\nfor col in columns_to_modify2:\n    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)\n      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)\n"

In [8]:
# now we work the second table

In [9]:

df=df.drop('Unnamed: 0', axis=1)
df = df[~df[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
for col in columns_to_modify2:
    df[col] = df[col].str.replace(',', '.').astype(float)

In [10]:
df = df.drop(df.columns[df.columns.str.startswith('v')], axis=1)

In [11]:
df.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,22.0,23.0,10.0,8.0,13.0,6.0,10.0,10.0,10.0,11.0,10.0,9.0,10.0,25.0,8.0,15.0,31.0,60.0,67.0,68.0,47.0,20.0,8.0,8.0
1,28,13,2,8,28013002_8_8,2005,1,1,23.0,21.0,18.0,17.0,15.0,14.0,13.0,11.0,8.0,7.0,8.0,9.0,15.0,32.0,20.0,38.0,55.0,60.0,55.0,50.0,37.0,28.0,21.0,19.0
2,28,13,2,10,28013002_10_49,2005,1,1,51.0,34.0,31.0,28.0,28.0,33.0,23.0,17.0,16.0,9.0,15.0,18.0,11.0,15.0,20.0,7.0,22.0,35.0,54.0,48.0,49.0,35.0,33.0,28.0
3,28,13,2,14,28013002_14_6,2005,1,1,13.0,13.0,13.0,13.0,13.0,12.0,12.0,12.0,17.0,21.0,29.0,34.0,43.0,38.0,54.0,35.0,22.0,16.0,16.0,14.0,13.0,15.0,14.0,13.0
4,28,45,2,6,28045002_6_48,2005,1,1,3.2,1.3,0.7,0.4,0.8,0.5,0.3,0.6,0.5,0.2,0.1,0.1,0.1,0.2,0.2,0.3,0.5,0.8,1.6,2.3,3.2,2.3,0.9,0.6

After studying the DataFrames we detelte the 'V' columns

In [12]:
cross_1= pd.crosstab(df['municipio'],df['magnitud'])
cross_1

magnitud,1,6,7,8,9,10,12,14,20,30,42,44,431
municipio,,,,,,,,,,,,,
5,6032,6062,6036,6036,1663,6554,3079,6021,0,0,0,0,0
6,0,0,6054,6055,0,6532,3079,5970,6322,6370,6177,6176,2287
7,0,0,4828,4829,5201,0,3124,4830,0,0,0,0,0
9,0,0,5284,5286,5726,0,3126,7135,0,0,0,0,0
13,0,0,5943,5940,0,6416,3120,5937,0,0,0,0,0
14,0,0,5607,5592,0,6024,3139,5274,0,0,0,0,0
16,5390,5452,5417,5419,5919,5966,3106,5303,5606,5608,5743,5752,2297
45,0,6077,6075,6077,0,6566,3159,6061,0,0,0,0,0
47,5548,0,5573,5576,6000,0,3103,5569,5811,5801,5816,5827,2305
49,0,0,5186,5190,1640,5572,3038,5181,0,0,0,0,0
58,0,0,5966,5965,0,6442,3115,5872,6272,6304,6242,6249,2279
65,0,0,3391,3385,1712,3630,3111,3405,0,0,0,0,0
67,0,0,5429,5427,0,5789,3140,5462,0,0,0,0,0
74,0,0,6054,6046,1652,6492,3096,6061,0,0,0,0,0
80,0,0,6063,6070,0,6541,3128,6046,0,0,0,0,0
92,5903,5903,5923,5924,0,6449,3138,5829,0,0,0,0,0
102,5404,5438,5407,5404,0,5931,3128,5400,0,0,0,0,0
106,0,0,122,122,133,0,121,122,0,0,0,0,0
115,0,0,139,139,130,0,138,139,0,0,0,0,0
120,0,0,1505,1506,1643,1634,1507,1508,0,0,0,0,0
123,0,0,5513,5507,0,5585,3103,7170,0,0,0,0,0
127,0,0,132,132,0,143,133,133,0,0,0,0,0
133,0,0,5508,5508,0,5249,3127,5467,0,0,0,0,0
134,0,0,135,135,0,136,135,136,0,0,0,0,0
148,0,0,5937,5935,4726,6241,3106,5959,0,0,0,0,0
161,0,0,5513,5514,5809,0,3117,5544,0,0,0,0,0
171,5449,5457,5438,5445,5805,5891,3061,5407,0,0,0,0,0
180,0,0,5609,5623,5844,0,3098,5614,0,0,0,0,0

df=df.drop('Unnamed: 0', axis=1)
df = df[~df[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

for col in columns_to_modify2:
    df[col] = df[col].str.replace(',', '.').astype(float)
df[columns_to_modify2] = scaler.fit_transform(df[columns_to_modify2])
df=df.drop(columns_to_check,axis=1)

In [13]:
# df.to_csv('aire_global',index=False)
# df_antes.to_csv('aire_antes',index=False)
# df_despues.to_csv('aire_después',index=False)

In [14]:
df.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station','magnitud':'magnitude',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)

In [15]:
df_id=df[['province','municipality','magnitude','month']]
df_id=df_id.rename(columns={'province':'province_id','municipality':'municipality_id','magnitude':'magnitude_id','month':'month_id'})

In [16]:
df.head()

,province,municipality,station,magnitude,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,22.0,23.0,10.0,8.0,13.0,6.0,10.0,10.0,10.0,11.0,10.0,9.0,10.0,25.0,8.0,15.0,31.0,60.0,67.0,68.0,47.0,20.0,8.0,8.0
1,28,13,2,8,28013002_8_8,2005,1,1,23.0,21.0,18.0,17.0,15.0,14.0,13.0,11.0,8.0,7.0,8.0,9.0,15.0,32.0,20.0,38.0,55.0,60.0,55.0,50.0,37.0,28.0,21.0,19.0
2,28,13,2,10,28013002_10_49,2005,1,1,51.0,34.0,31.0,28.0,28.0,33.0,23.0,17.0,16.0,9.0,15.0,18.0,11.0,15.0,20.0,7.0,22.0,35.0,54.0,48.0,49.0,35.0,33.0,28.0
3,28,13,2,14,28013002_14_6,2005,1,1,13.0,13.0,13.0,13.0,13.0,12.0,12.0,12.0,17.0,21.0,29.0,34.0,43.0,38.0,54.0,35.0,22.0,16.0,16.0,14.0,13.0,15.0,14.0,13.0
4,28,45,2,6,28045002_6_48,2005,1,1,3.2,1.3,0.7,0.4,0.8,0.5,0.3,0.6,0.5,0.2,0.1,0.1,0.1,0.2,0.2,0.3,0.5,0.8,1.6,2.3,3.2,2.3,0.9,0.6

In [17]:
df_id

        province_id  municipality_id  magnitude_id  month_id
0                28               13             7         1
1                28               13             8         1
2                28               13            10         1
3                28               13            14         1
4                28               45             6         1
...             ...              ...           ...       ...
802444           28               92             7        12
802445           28               92             8        12
802446           28               92            10        12
802447           28               92            12        12
802448           28               92            14        12

[802449 rows x 4 columns]

In [18]:
municipality_map= {16:'el_atazar',47:'collado_villalba',6:'alcobendas',58:'fuenlabrada',171:'villa_del_prado',
                   5:'alcala_de_henares',92:'mostoles',102:'orusco_de_tajuña',45:'colmenar_viejo',148:'torrejon_de_ardoz',
                   74:'leganes',80:'majadahonda',13:'aranjuez',123:'rivas_vaciamadrid',9:'algete',49:'coslada',
                   180:'villarejo_de_salvanes',14:'arganda_del_rey',161:'valdemoro',67:'guadalix_de_la_sierra',
                   133:'san_martin_de_valdeiglesias',7:'alcorcon',65:'getafe',120:'puerto_de_cotos',115:'pozuelo_de_alarcon',
                   134:'san_sebastian_de_los_reyes',127:'las_rozas',106:'parla'}

In [19]:
df.head()

,province,municipality,station,magnitude,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,22.0,23.0,10.0,8.0,13.0,6.0,10.0,10.0,10.0,11.0,10.0,9.0,10.0,25.0,8.0,15.0,31.0,60.0,67.0,68.0,47.0,20.0,8.0,8.0
1,28,13,2,8,28013002_8_8,2005,1,1,23.0,21.0,18.0,17.0,15.0,14.0,13.0,11.0,8.0,7.0,8.0,9.0,15.0,32.0,20.0,38.0,55.0,60.0,55.0,50.0,37.0,28.0,21.0,19.0
2,28,13,2,10,28013002_10_49,2005,1,1,51.0,34.0,31.0,28.0,28.0,33.0,23.0,17.0,16.0,9.0,15.0,18.0,11.0,15.0,20.0,7.0,22.0,35.0,54.0,48.0,49.0,35.0,33.0,28.0
3,28,13,2,14,28013002_14_6,2005,1,1,13.0,13.0,13.0,13.0,13.0,12.0,12.0,12.0,17.0,21.0,29.0,34.0,43.0,38.0,54.0,35.0,22.0,16.0,16.0,14.0,13.0,15.0,14.0,13.0
4,28,45,2,6,28045002_6_48,2005,1,1,3.2,1.3,0.7,0.4,0.8,0.5,0.3,0.6,0.5,0.2,0.1,0.1,0.1,0.2,0.2,0.3,0.5,0.8,1.6,2.3,3.2,2.3,0.9,0.6

In [20]:
province_map = {28:'madrid'}
month_map = {
    1: 'january',
    2: 'february',
    3: 'march',
    4: 'april',
    5: 'may',
    6: 'june',
    7: 'july',
    8: 'august',
    9: 'september',
    10: 'october',
    11: 'november',
    12: 'december'
}


df['month'] = df['month'].map(month_map)

In [21]:
df['province'] = df['province'].map(province_map)

In [22]:
df['municipality'] = df['municipality'].map(municipality_map)

In [23]:
magnitude_map={14:'ozone',7:'nitrogen_moxide',8:'nitrogen_dioxide',10:'particles_in_suspension(<_PM10)',
              12:'nitrogen_oxides',9:'particles_in_suspension(<_PM2,5)',6:'carbon_monoxide',1:'sulfur_dioxide',
              30:'benzene',20:'toluene',44:'non_methane_hydrocarbons',42:'total_hydrocarbons',
              431:'metaparaxylene'}

In [24]:
df['magnitude'] = df['magnitude'].map(magnitude_map)

In [25]:

split_values = df['measuring_point'].str.split('_')
extracted_numbers = split_values.str[2]
df['tech'] = extracted_numbers
df['measuring_point'] = df['measuring_point'].str.replace(r'_(\d+)$', '', regex=True)


df['measuring_point'] = df['measuring_point'].str.replace(r'_(\d+)$', '', regex=True)

In [26]:
technical_description_map={'8':'quimioluminescence','49':'beta_absortion','6':'uv_absortion',
                           '59':'gas_cromatography','2':'flame_ionization','48':'non_dispersed_infrared_espectometry',
                           '38':'uv_fluorescence'}

In [27]:
df['tech'] = df['tech'].map(technical_description_map)

In [28]:
df_1 = df[['year', 'month', 'day', 'tech','tech_id', 'h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10',
            'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']]

KeyError: "['tech_id'] not in index"

df_1.to_csv('erd_1.csv',index=False)

In [29]:
merged_df = df.merge(df_id, left_index=True, right_index=True, how='inner')

In [30]:
df_sql_1= merged_df[['year', 'month', 'day','magnitude','tech', 'h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10',
            'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24','province_id']]

In [31]:
# df_sql_1.to_csv('df_sql_1.csv',index=False)

KeyboardInterrupt:

In [33]:
df_sql_2= merged_df[['province']]

In [34]:
df_sql_2=df_sql_2.groupby('province').mean().reset_index()

In [35]:
df_sql_2.head()

  province
0   madrid

In [36]:
df_sql_2.reset_index(drop=False, inplace=True)
df_sql_2.rename(columns={'index':'province_id'}, inplace=True)
df_sql_2['province_id'] += 1

In [37]:
df_sql_2.reset_index(inplace=True)
df_sql_2.rename(columns={'index':'province_id'}, inplace=True)
df_sql_2.head()
df_sql_2.to_csv('df_sql_2.csv',index=False)

In [38]:
# df_sql_2.to_csv('df_sql_2.csv',index=False)

In [39]:
# df_sql_2.to_csv('df_sql_2.csv',index=False)

In [40]:
province_map2 = {28 : 1}
merged_df['province_id'] = merged_df['province_id'].map(province_map2)

In [41]:
municipality_map2= {16:1,47:2,6:3,58:4,171:5,
                   5:6,92:7,102:8,45:9,148:10,
                   74:11,80:12,13:14,123:15,9:16,49:17,
                   180:18,14:19,161:20,67:21,
                   133:22,7:23,65:24,120:25,115:26,
                   134:27,127:28,106:29}
merged_df['municipality_id'] = merged_df['municipality_id'].map(municipality_map2)

In [42]:
df_sql_3=merged_df[['municipality','province_id']]

In [43]:
# df_sql_3.to_csv('df_sql_3.csv',index=False)

In [44]:
df_sql_4=merged_df[['station','municipality_id']]

In [45]:
#d f_sql_4.to_csv('df_sql_4.csv',index=False)

In [46]:
province_map2 = {28 : 1}
df_sql_1['province_id'] = df_sql_1['province_id'].map(province_map2)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_23928\1620542251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sql_1['province_id'] = df_sql_1['province_id'].map(province_map2)

In [47]:
df_sql_1.reset_index(inplace=True)
df_sql_1.rename(columns={'index':'pollution_id'}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_23928\2405859382.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sql_1.rename(columns={'index':'pollution_id'}, inplace=True)

In [ ]:
#df_sql_1.to_csv('df_sql_1.csv',index=False)

In [ ]:
#merged_df.to_csv('pollution_data.csv',index=False)

In [48]:


merged_df['municipality'] = merged_df['municipality'].str.replace('_', ' ')

# Display the updated dataframe
merged_df.municipality.unique()

array(['aranjuez', 'colmenar viejo', 'alcala de henares', 'fuenlabrada',
       'alcobendas', 'leganes', 'majadahonda', 'mostoles',
       'torrejon de ardoz', 'arganda del rey', 'villarejo de salvanes',
       'collado villalba', 'villa del prado', 'valdemoro',
       'rivas vaciamadrid', 'san martin de valdeiglesias', 'el atazar',
       'orusco de tajuña', 'guadalix de la sierra', 'algete', 'coslada',
       'alcorcon', 'getafe', 'puerto de cotos', 'pozuelo de alarcon',
       'las rozas', 'san sebastian de los reyes', 'parla'], dtype=object)

In [49]:
# merged_df.to_csv('pollution_madrid.csv',index=False)

In [50]:
d

,province,municipality,station,magnitude,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24,tech,province_id,municipality_id,magnitude_id,month_id
0,madrid,aranjuez,2,nitrogen_moxide,28013002_7,2005,january,1,22.0,23.0,10.0,8.0,13.0,6.0,10.0,10.0,10.0,11.0,10.0,9.0,10.0,25.0,8.0,15.0,31.0,60.0,67.0,68.0,47.0,20.0,8.0,8.0,quimioluminescence,1,14,7,1
1,madrid,aranjuez,2,nitrogen_dioxide,28013002_8,2005,january,1,23.0,21.0,18.0,17.0,15.0,14.0,13.0,11.0,8.0,7.0,8.0,9.0,15.0,32.0,20.0,38.0,55.0,60.0,55.0,50.0,37.0,28.0,21.0,19.0,quimioluminescence,1,14,8,1
2,madrid,aranjuez,2,particles_in_suspension(<_PM10),28013002_10,2005,january,1,51.0,34.0,31.0,28.0,28.0,33.0,23.0,17.0,16.0,9.0,15.0,18.0,11.0,15.0,20.0,7.0,22.0,35.0,54.0,48.0,49.0,35.0,33.0,28.0,beta_absortion,1,14,10,1
3,madrid,aranjuez,2,ozone,28013002_14,2005,january,1,13.0,13.0,13.0,13.0,13.0,12.0,12.0,12.0,17.0,21.0,29.0,34.0,43.0,38.0,54.0,35.0,22.0,16.0,16.0,14.0,13.0,15.0,14.0,13.0,uv_absortion,1,14,14,1
4,madrid,colmenar viejo,2,carbon_monoxide,28045002_6,2005,january,1,3.2,1.3,0.7,0.4,0.8,0.5,0.3,0.6,0.5,0.2,0.1,0.1,0.1,0.2,0.2,0.3,0.5,0.8,1.6,2.3,3.2,2.3,0.9,0.6,non_dispersed_infrared_espectometry,1,9,6,1

In [51]:
df_12=merged_df[merged_df['municipality']==str('pozuelo de alarcon')]

In [64]:
merged_df.magnitude.unique()

array(['nitrogen_moxide', 'nitrogen_dioxide',
       'particles_in_suspension(<_PM10)', 'ozone', 'carbon_monoxide',
       'sulfur_dioxide', 'toluene', 'benzene', 'total_hydrocarbons',
       'non_methane_hydrocarbons', 'particles_in_suspension(<_PM2,5)',
       'nitrogen_oxides', 'metaparaxylene'], dtype=object)