In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import ttest_rel, ttest_ind
from scipy.stats.contingency import association
from scipy.stats import spearmanr, pearsonr
pd.set_option('display.max_columns', None)
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
scaler = MinMaxScaler()

In [7]:
df_cars=pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/Registered_car_sales.csv', encoding= 'utf-8')

In [8]:
df_cars.head()

    Año     Periodo  Híbridos, eléctricos y otros  Gasolina  Diésel
0  2017  Septiembre                         1.926     6.293  14.781
1  2017     Octubre                         2.695     8.333  14.449
2  2017   Noviembre                         2.302    10.753  16.235
3  2017   Diciembre                         2.393    12.250  16.577
4  2018       Enero                         2.889    15.930  16.304

In [9]:
df_kars=df_cars['Gasolina']+df_cars['Diésel']
df_kars2=df_cars['Gasolina']+df_cars['Diésel']+df_cars['Híbridos, eléctricos y otros']
df_kars = df_kars.to_frame()
df_kars2 = df_kars2.to_frame()

In [10]:
merged_df= df_kars.join(df_kars2, lsuffix='_kars', rsuffix='_kars2')
df_cars.columns

Index(['Año', 'Periodo', 'Híbridos, eléctricos y otros', 'Gasolina', 'Diésel'], dtype='object')

In [11]:
df_cars=df_cars.join(merged_df,lsuffix='df_cars')
df_cars = df_cars.rename(columns={'0_kars':'Total_combustion','0_kars2':'Total_Sold'})
df_cars.dropna()

,Año,Periodo,"Híbridos, eléctricos y otros",Gasolina,Diésel,Total_combustion,Total_Sold
0,2017,Septiembre,1.926,6.293,14.781,21.074,23.000
1,2017,Octubre,2.695,8.333,14.449,22.782,25.477
2,2017,Noviembre,2.302,10.753,16.235,26.988,29.290
3,2017,Diciembre,2.393,12.250,16.577,28.827,31.220
4,2018,Enero,2.889,15.930,16.304,32.234,35.123
...,...,...,...,...,...,...,...
61,2023,Septiembre,14.154,7.392,4.731,12.123,26.277
62,2023,Octubre,17.070,7.508,5.170,12.678,29.748
63,2023,Noviembre,17.430,8.739,4.831,13.570,31.000
64,2023,Diciembre,19.847,10.393,4.880,15.273,35.120
65,2024,Enero,16.107,8.681,4.375,13.056,29.163

In [12]:
df_cars = df_cars.rename(columns={'0_kars':'Total_combustion','0_kars2':'Total_Sold'})
df_kars= df_cars.groupby('Año').agg({'Total_Sold':'value_counts'})
df_kars

                 Total_Sold
Año  Total_Sold
2017 23.000               1
     25.477               1
     29.290               1
     31.220               1
2018 18.912               1
...                     ...
2023 36.158               1
     44.116               1
     48.320               1
     49.224               1
2024 29.163               1

[66 rows x 1 columns]

In [ ]:
result = df_cars.groupby('Año')['Total_Sold'].sum().reset_index()

In [ ]:
df_kars= df_cars.groupby('Año').agg({'Total_Sold':'value_counts'})

type(result)

df_kars=df_kars[df_kars['Total_Sold']==type(str)]
df_kars

In [13]:
df_cars['Año'] = df_cars['Año'].astype(str)
df_cars = df_cars[~df_cars['Año'].str.contains('a')]
df_cars = df_cars[~df_cars['Año'].str.contains('u')]
df_cars = df_cars[~(df_cars['Total_Sold'] == 969.500)]
df_cars.Año.unique()

array(['2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype=object)

In [14]:
df_cars = df_cars[~(df_cars['Total_Sold'] == 969.500)]

In [ ]:
sns.barplot(x='Año', y='Total_Sold', data=df_cars)

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df_cars.rename(columns={'Año':'year','Periodo':'month','Híbridos, eléctricos y otros':'eco','Gasolina':'gasoline', 
                'Diésel':'diesel','Total_combustion':'total_combustion','Total_Sold':'total_sold'},inplace=True)

In [ ]:
month_map = {
    'Enero' : 'january',
    'Febrero': 'february',
    'Marzo': 'march',
    'Abril': 'april',
    'Mayo': 'may',
    'Junio': 'june',
    'Julio': 'july',
    'Agosto': 'august',
    'Septiembre': 'september',
    'Octubre': 'october',
    'Noviembre': 'november',
    'Diciembre': 'december'
}


df_cars['month'] = df_cars['month'].map(month_map)

In [ ]:
df_cars.to_csv('cars_sales.csv',index=False)