In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plp
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import ttest_rel, ttest_ind
from scipy.stats.contingency import association
from scipy.stats import spearmanr, pearsonr
pd.set_option('display.max_columns', None)
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
scaler = MinMaxScaler()

In [2]:
df=pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_global_madrid.csv')
df_antes = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_antes.csv')
df_despues = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_después.csv')

In [4]:
df=df.dropna()

In [5]:
# We separate the first and second columns based only on when ZBEDEP and ZBE where created.

In [6]:
df_antes=df[df['ano']<2021]
df_despues= df[df['ano'] >= 2021]

In [7]:
columns_to_check = ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24']
columns_to_modify2 = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# df_antes = df_antes[~df_antes[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
# df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

In [8]:
"""
for col in columns_to_modify2:
    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)
      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)
"""

"\nfor col in columns_to_modify2:\n    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)\n      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)\n"

In [9]:
# now we work the second table

In [10]:
"""
df_despues=df.drop('Unnamed: 0', axis=1)
df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
for col in columns_to_modify2:
    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)
"""

"\ndf_despues=df.drop('Unnamed: 0', axis=1)\ndf_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]\nfor col in columns_to_modify2:\n    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)\n"

In [11]:
df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])
df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15860\3268082454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])
C:\Users\Usuario\AppData\Local\Temp\ipykernel_15860\3268082454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

After studying the DataFrames we detelte the 'V' columns

In [12]:
#df_despues=df_despues.drop(columns_to_check,axis=1)
#df_antes=df_antes.drop(columns_to_check,axis=1)

In [13]:

#H0 = Madrid rio ha funcionado, reduciendo los limites de C02 de los ultimos años
#H1 = Madrid rio no ha funcionado, los limites de C02 no se bhan reducido como se esperaba

In [14]:
cross_1= pd.crosstab(df['municipio'],df['magnitud'])
cross_1

magnitud,1,6,7,8,9,10,12,14,20,30,42,44,431
municipio,,,,,,,,,,,,,
5,6032,6062,6036,6036,1663,6554,3079,6021,0,0,0,0,0
6,0,0,6054,6055,0,6532,3079,5970,6322,6370,6177,6176,2287
7,0,0,4828,4829,5201,0,3124,4830,0,0,0,0,0
9,0,0,5284,5286,5726,0,3126,7135,0,0,0,0,0
13,0,0,5943,5940,0,6416,3120,5937,0,0,0,0,0
14,0,0,5607,5592,0,6024,3139,5274,0,0,0,0,0
16,5390,5452,5417,5419,5919,5966,3106,5303,5606,5608,5743,5752,2297
45,0,6077,6075,6077,0,6566,3159,6061,0,0,0,0,0
47,5548,0,5573,5576,6000,0,3103,5569,5811,5801,5816,5827,2305
49,0,0,5186,5190,1640,5572,3038,5181,0,0,0,0,0
58,0,0,5966,5965,0,6442,3115,5872,6272,6304,6242,6249,2279
65,0,0,3391,3385,1712,3630,3111,3405,0,0,0,0,0
67,0,0,5429,5427,0,5789,3140,5462,0,0,0,0,0
74,0,0,6054,6046,1652,6492,3096,6061,0,0,0,0,0
80,0,0,6063,6070,0,6541,3128,6046,0,0,0,0,0
92,5903,5903,5923,5924,0,6449,3138,5829,0,0,0,0,0
102,5404,5438,5407,5404,0,5931,3128,5400,0,0,0,0,0
106,0,0,122,122,133,0,121,122,0,0,0,0,0
115,0,0,139,139,130,0,138,139,0,0,0,0,0
120,0,0,1505,1506,1643,1634,1507,1508,0,0,0,0,0
123,0,0,5513,5507,0,5585,3103,7170,0,0,0,0,0
127,0,0,132,132,0,143,133,133,0,0,0,0,0
133,0,0,5508,5508,0,5249,3127,5467,0,0,0,0,0
134,0,0,135,135,0,136,135,136,0,0,0,0,0
148,0,0,5937,5935,4726,6241,3106,5959,0,0,0,0,0
161,0,0,5513,5514,5809,0,3117,5544,0,0,0,0,0
171,5449,5457,5438,5445,5805,5891,3061,5407,0,0,0,0,0
180,0,0,5609,5623,5844,0,3098,5614,0,0,0,0,0

In [15]:
estadistico, p_valor, ex, ddof = chi2_contingency(cross_1)

estadistico, p_valor

(565501.6926295952, 0.0)

In [16]:
datos_ant=df_antes['magnitud']
datos_des=df_despues['magnitud']

df=df.drop('Unnamed: 0', axis=1)
df = df[~df[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

for col in columns_to_modify2:
    df[col] = df[col].str.replace(',', '.').astype(float)
df[columns_to_modify2] = scaler.fit_transform(df[columns_to_modify2])
df=df.drop(columns_to_check,axis=1)

In [17]:
# df.to_csv('aire_global',index=False)
# df_antes.to_csv('aire_antes',index=False)
# df_despues.to_csv('aire_después',index=False)

In [18]:

correlation, p_value = spearmanr(df["estacion"], df["magnitud"])
print("Coeficiente de correlación de Spearman:", correlation)
print("Valor p:", p_value)

Coeficiente de correlación de Spearman: 0.09765951745118626
Valor p: 0.0

In [19]:
correlation, p_value = pearsonr(df["estacion"], df["magnitud"])
print("Coeficiente de correlación de Pearson:", correlation)
print("Valor p:", p_value)

Coeficiente de correlación de Pearson: 0.004200261677218451
Valor p: 0.00016816620050213643

spearman= df_despues['punto_muestreo'].corr(df_despues['magnitud'], method='spearman')
pearson =df_antes['punto_muestreo'].corr(df_antes['magnitud'], method='pearson')
print(spearman)
print(pearson)

In [20]:
f_score, p_valor = f_oneway(df_antes['magnitud'], df_despues['magnitud'])
f_score,p_valor

(2960.5283608355994, 0.0)

In [21]:
print(datos_ant.isnull().sum())
print(datos_des.isnull().sum())

0
0

In [42]:
random_sample = df_antes.sample(n=154179)

In [48]:
datos_ant=random_sample['magnitud']
datos_des=df_despues['magnitud']

In [44]:
if df_despues.shape == random_sample.shape:
    print('yes')
else:
    print('no')

yes

In [46]:
random_sample.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
537291,28,16,1,9,28016001_9_49,2018,10,21,0.918601,0.926924,0.930259,0.924335,0.927453,0.928644,0.928624,0.909339,0.880035,0.903086,0.911226,0.950689,0.956048,0.949255,0.922212,0.928591,0.915401,0.910165,0.894243,0.864886,0.877884,0.005197,0.007098,0.009054
110849,28,5,2,8,28005002_8_8,2008,11,19,0.919611,0.929703,0.933513,0.927291,0.930696,0.933469,0.934658,0.915698,0.886368,0.907147,0.912865,0.951924,0.957099,0.950678,0.923502,0.929704,0.917871,0.913257,0.900232,0.870073,0.882270,0.031180,0.036380,0.043260
421408,28,16,1,42,28016001_42_2,2016,5,21,0.918133,0.926637,0.930342,0.924316,0.926980,0.928347,0.928606,0.908866,0.879930,0.902797,0.910935,0.950575,0.955933,0.948961,0.922129,0.927849,0.915027,0.909702,0.894413,0.864869,0.877700,0.004306,0.005235,0.005835
476737,28,16,1,10,28016001_10_49,2017,7,20,0.918785,0.926461,0.930166,0.925259,0.927175,0.928459,0.929089,0.909248,0.880387,0.902906,0.911226,0.950879,0.956813,0.949161,0.921935,0.927664,0.915676,0.910984,0.895584,0.865145,0.878410,0.010393,0.012422,0.010060
125919,28,102,1,6,28102001_6_48,2009,4,7,0.917620,0.926118,0.929821,0.923808,0.926462,0.927837,0.928095,0.908376,0.879446,0.902301,0.910434,0.950052,0.955408,0.948430,0.921594,0.927321,0.914514,0.909193,0.893912,0.864393,0.877209,0.000223,0.000177,0.000201

In [41]:
random_sample.head()
datos_des.head()

648270     1
648271     6
648272     7
648273     8
648274    10
Name: magnitud, dtype: int64

In [53]:
ttest_ind(df_antes['magnitud'],random_sample['magnitud'],alternative='less')
p_valor

0.0

In [58]:
ttest_rel(df_despues['magnitud'],random_sample['magnitud'],alternative='less')

TtestResult(statistic=35.17886491767936, pvalue=1.0, df=154178)