In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plp
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv('aire_m.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df=df.dropna()

In [5]:
# We separate the first and second columns based only on when ZBEDEP and ZBE where created.

In [6]:
df_antes=df[df['ano']<2021]
df_despues= df[df['ano'] >= 2021]

In [7]:
df_antes=df.drop('Unnamed: 0', axis=1)

In [8]:
columns_to_check = ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24']
df_antes = df_antes[~df_antes[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
columns_to_modify2 = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']

In [9]:
for col in columns_to_modify2:
    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)
    #  df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)

In [10]:
scaler = MinMaxScaler()
df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

In [11]:
# now we work the second table

In [12]:
df_despues=df.drop('Unnamed: 0', axis=1)
df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
for col in columns_to_modify2:
    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)

In [14]:
df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])

After studying the DataFrames we detelte the 'V' columns

In [17]:
df_despues=df_despues.drop(columns_to_check,axis=1)

In [18]:
df_antes=df_antes.drop(columns_to_check,axis=1)

In [21]:
df_antes.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604